<div class="col-md-8">
    <%= form_for @wiki do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title." %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: 'form-control', placeholder: "Enter wiki content." %>
        </div>
        
        <% if policy(@wiki).create_private? %>
            <div class="form-group">
                Private? <%= f.check_box :private %><br /><br />

                <!-- h4>Add one or more collaborators to your private wiki entry:</h4> -->
                <!-- %= @wiki.users.each do |u| %> -->
                    <!-- p><!-- %= u.email %> </p> -->
                <!-- % end %> -->
                <!-- %= @wiki.private %> -->

                <% standard_users = [] %>
                <% @users.each do |u| %>
                    <% if u.role == 'standard' %>
                        <% standard_users << u %>
                    <% end %>
                <% end %>
                
                <p>There are currently <%= standard_users.length %> Blocipedia standard registered users.</p>
                
                <% standard_users.each do |u| %>
                    <% unless (u.id == current_user.id) %>
                       <%= u.email %> | <%= link_to "Collaborate", add_collaborator_wiki_path(@wiki), method: :post %> | <%= link_to "Remove Collaboration", add_collaborator_wiki_path(@wiki), method: :post %><br />
                    <% end %>
                <% end %>
            </div>
            
            <!-- div class="form-group"> -->
                <!-- Add one or more collaborators: -->
                <!-- private_wikis = ['1', '2', '3'] -->
                
                <!-- %= f.select(:user, [@wiki.users.collect], {}, { class: 'form-control' }) %> -->
                <!-- %= f.select(:user, &private_wikis, {}, { class: 'form-control' }) -->
                <!-- %= f.select(:user, [@wiki.users.each { |p| [ p.user_id ] }], {}, { class: 'form-control' }) %> -->
            <!-- /div> -->
        <% end %>
        
        <div class="form-group">
            <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
    <% end %>
</div>