<div class="col-md-8">
    <%= form_for @wiki do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title." %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: 'form-control', placeholder: "Enter wiki content." %>
        </div>
        
        <% if policy(@wiki).create_private? %>
            <div class="form-group">
                Private? <%= f.check_box :private %><br /><br />

              <p>There are currently <%= standard_users(@users).length %> Blocipedia standard registered users.</p>

                <% standard_users(@users).each do |su| %>
                    <% unless (su.id == current_user.id) %>
                        <%= wiki_collaboration_link(@wiki, su) %> | <%= su.email %> <br />
                    <% end %>
                <% end %>
            </div>
       <% end %>
        
        <div class="form-group">
            <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
    <% end %>
</div>